@model Atilim_Odev.Models.Siniflar.Mufredat

@*MufredatDuzenle*@


<div class="container">
    <form asp-action="MufredatDuzenle">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" />
        <div class="form-group">
            <label asp-for="MufredatAdi" class="control-label">Mufredat İsmi</label>
            <input asp-for="MufredatAdi" class="form-control" type="text" />
            <span asp-validation-for="MufredatAdi" class="text-danger"></span>
        </div>


        <div class="form-group">
            <input type="submit" value="Güncelle" class="btn btn-primary" />
        </div>

    </form>


</div>