@model IEnumerable<Atilim_Odev.Models.Siniflar.Mufredat>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MufredatAdi)
            </th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="align-middle">
                <td>
                    @Html.DisplayFor(modelItem => item.MufredatAdi)
                </td>
                   <td class="text-end">
                    <a asp-action="MufredatDuzenle" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm"><i class="fa-regular fa-pen-to-square"></i>Düzenle</a>
                    <a asp-action="MufredatSil" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm"><i class="fa-solid fa-trash"></i>  Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Admin" asp-action="MufredatEkle" class="btn btn-primary"> Mufredat Ekle</a>
<a asp-action="Index" class="btn btn-outline-success btn-sm">Anasayfa</a>
