@model Atilim_Odev.Models.Siniflar.Kullanicilar
@{
    ViewData["Title"] = "Giriş Sayfası";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <p>Atılım Üniversitesi Giriş Ekranı</p>
</div>

<div class="container">
    <form method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="hidden" asp-for="Id" />
            <input type="text" name="Kullanici_Adi" class="form-control" />
            <label class="form-label" for="form2Example1">Kullanıcı Adı</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="text" name="Sifre" class="form-control" />
            <label class="form-label" for="form2Example2">Şifre</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
      

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Giriş Yap</button>
        <!-- Register buttons -->

    </form>
</div>